.footer {
  background-image: url("../../assets/assets/f2.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
  /* background-color: var(--primary-foreground); */
}
